ul{ margin: 0px; padding: 0px;}
.starbox {font-size: 12px;}
.starbox dl, dt, dd {float: left; margin: 0px;padding: 0px;}
.starbox dl {float: left; padding-left: 15px; position: relative; width: 265px; clear: both;}
.starbox dl dt { margin-top: -4px;}
.starbox dl dd { display: inline; width: 20px;}
.starbox dl dd a { background: url(./images/star.png); display: block; height: 20px;  overflow: hidden; width: 20px;}
.starbox dl dd a.star_on { background: url(./images/star_on.png); }
.starbox dl dd a.star_off { background: url(./images/star_off.png);}
.starbox dl dd a.star_half { background: url(./images/star_half.png);}
.starbox dl span { color: #F83D04; font-family: "Verdana"; font-size: 20px; margin: 0 3px;}
.starbox dl span em { font-size: 14px; font-style: normal; font-weight: bold;}
.starbox dl dt span.count {color: #666666; font-size: 12px;}
.starbox dl .ratetxt{background:#FFF;border:1px solid #CCC;float:none;height:20px;left:122px;padding-top:2px;position:absolute;text-align:center;top:-2px;width:133px;}

/*投票统计弹出层样式*/
.starbox a.detaillink {background: url(./images/star.png);background-position:  -729px -95px; padding-right: 8px;}
.tipsbox {overflow: hidden; position: absolute; width: 225px; z-index: 1000px;}
.tipsbox .top {background: url(./images/star.png);background-position: 2px -119px;height: 5px;overflow: hidden; position: relative;top: 1px; width: 222px;}
.tipsbox_con {background: #FFF;border: 1px solid #E1E1E1; overflow: hidden; padding: 10px 10px 3px;width: 222px;}
html>body .tipsbox_con {width: 200px;}
.tipsbox_con li { background: url(./images/star.png);font-size: 10px;height: 14px;line-height: 14px; margin-bottom: 7px;overflow: hidden;padding-left: 85px;position: relative;}
.tipsbox_con li em {color: #606060;font-size: 12px;font-style: normal;height: 14px;left: 0px;top: 0px; overflow: hidden;position: absolute;}
.tipsbox_con li span { background: #DDD;display: inline-block;height: 14px;margin-right: 3px;vertical-align: middle;}
.tipsbox_con li.small5 {background-position: -106px 2px;}
.tipsbox_con li.small4 {background-position: -106px -14px;}
.tipsbox_con li.small3 {background-position: -106px -30px;}
.tipsbox_con li.small2 {background-position: -106px -46px;}
.tipsbox_con li.small1 {background-position: -106px -62px;}